@import '../../utils/base.scss';

.login{
  &__container{
    display: flex;
    min-height:100vh;
  }

  

  &__containerLeft{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3em 5em;
  }

  &__logo{
    width:7em;
    padding-bottom:2em;
    cursor: pointer;
  }


  &__title{
    font-size: 2.5em;
    font-weight: 700;
    color:#949494;
    padding:0.5em 0;
  }

  &__text{
    max-width:30em;
    padding-bottom:1em;
  }

  &__actionsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 2em;
  }

  &__policy{
    color:$base-color3;
    max-width:30em;
  }

  &__rightContainer{
    background-color: $secondary-color;
    flex-grow: 1;
  }
}