@import '../../../utils/base.scss';

.user {

    &__globalContainer {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        padding: 5.5em 0 0 0;
        justify-content: center;

    }

    &__flexContainer {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1em;
    }

    &__leftContainer,
    &__rightContainer {
        min-height: calc(100vh - 5.5em)
    }

    &__leftContainer {
        padding: 3em 5em;

    }

    &__rightContainer {
        flex-grow: 1;
        background-color: $primary-color;
        padding: 2em;
        background-image: url('../../../assets/profile/background.png');
        background-size: contain;
        background-position: center;
        position: relative;
    }

    &__bandeauContainer {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__avatarContainer {
        flex: 1;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        justify-content: center;
    }

    &__avatar::after {
        content: "";
        right: 0;
        bottom: 0;
        position: absolute;
        background-color: $light-blue;
        border: 3px solid white;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        transform: translate(0, -100%);
    }

    &__infosContainer {
        flex-grow: 1;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: column;
        flex: 2;
    }

    &__avatar {
        width: 10em;
        height: 10em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        position: relative;
        margin-right: 2em;
    }

    &__username {
        font-size: 1.5em;
        font-weight: 800;
        margin-right: 1em;
        color: $primary-color
    }

    &__createdTime {
        color: rgb(165, 165, 165);
        font-weight: 600;
        font-size: 1em;
    }


    &__followButton,
    &__logOutButton {
        border-radius: 0.5em;
        padding: 0.3em 1em 0.3em 1em;
        color: white;
        font-size: 1.1em;
        font-weight: 700;
    }

    &__followButton {
        background-color: $light-blue;

    }

    &__logOutButton {
        background-color: $pink;
        display: inline;
        text-align: center;
        margin-right: 1em;
    }

    &__numbers {
        margin-top: 1em;
        margin-right: 1em;
    }

    &__number {
        color: $primary-color;
        font-size: 1.3em;
        font-weight: 800;
    }

    &__radio {
        background-color: white;
        border-radius: 0.5em;
        padding: 0.6em;
        display: inline-flex;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__radioElement {
        font-weight: 700;
        padding: 0.3em 1em 0.3em 1em;
        border-radius: 0.5em;
        cursor: pointer;
        font-size: 1.2em;
    }

    &__rightElementContainer {
        background-color: white;
        border-radius: 0.5em;
        padding: 1em;
        margin-top: 2em;
        max-width: 40em;
        cursor: pointer;
        transition: 0.3s;
    }

    &__rightElementIcon {
        width: 3em;
        height: 3em
    }

    &__rightElementName {
        font-size: 1.2em;
        font-weight: 900;
        margin-left: 0.5em;
        color: $primary-color
    }

    &__rightElementFlex {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__rightElementDate {
        color: rgb(165, 165, 165);
        font-weight: 600;
        font-size: 1em;
        width: 11em;
        min-width: 11em;
        margin-left:1em
    }

    &__rightElementRate {
        margin-top: 1.5em;
    }

    &__rightElementContent {
        font-weight: 800;
        font-size: 1.1em;
        margin-top: 0.5em;
    }

    &__rightElementDescription {
        color: $primary-color;
        font-weight: 600;
        font-size: 1em;
        margin: 1em 0;
    }

    &__userNotFoundContainer {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 7em);
        padding-bottom: 5em;
    }

    &__userNotFoundImage {
        width: 30em;
    }

    &__userNotFoundText {
        font-weight: 800;
        color: $primary-color;
        font-size: 1.5em;
        margin-top: 2em;
        padding: 0 2em;
        text-align: center;
    }

    &__rightNoElement {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.3em;
        font-weight: 800;
        transform: translate(-50%, -50%);
        color: white;
    }
}

@media(max-width:1100px) {
    #RightElementFlex1{
        flex-direction: column;
        align-items: flex-start;
    }

    #RightElementFlex2{
        flex-direction: column;
        align-items: flex-start;
    }

    .user{
        &__rightElementDate{
            margin-left: 0;
            margin-top:1em;
        }

        &__leftContainer{
            padding:3em 3em
        }

        &__rightElementRate{
            margin-top:1em
        }
    }
}

@media(max-width:950px) {
    .user{
        &__leftContainer{
            padding:3em 1em
        }
    }
}

@media(max-width:830px) {
    .user{
        &__globalContainer{
            flex-direction:column;
        }

        &__leftContainer{
            min-height:0;
        }
    }
}

@media(max-width:500px) {
    .user{
        &__globalContainer{
            padding-top: 3em;
        }
        &__avatar{
            width:6em;
            height:6em;
            margin-right: 0;
            margin-bottom: 1em;
        }

        &__bandeauContainer{
            flex-direction: column;
        }

        &__createdTime{
            text-align: center;
        }

        &__numbers{
            margin-left:1em;
        }

        &__logOutButton{
            margin-right: 0;
        }
    }

    #flexContainer1{
        justify-content: center;
    }

    
}
