@import '../../../utils/base.scss';

.searchBar{
  &__container{
    position:absolute;
    left:2em;
    top:1em;
    border-radius: 0.3em;
    background-color: white;
    height:3em;
    width:20em;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    display:flex;
    z-index: 20;
    align-items: center;
  }

  &__menuContainer{
    width: 3em;
    padding:0.8em;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  &__menuContainer::after{
    content:"";
    width:1px;
    position:absolute;
    height:60%;
    background-color: #999999;
    top:50%;
    transform: translateY(-50%);
    right:0;
  }

  &__input{
    flex:1;
    border:none;
    display:flex;
    padding:0 0.7em;
    vertical-align: middle;
    margin-top: 2px;
    font-family: "Uber";
    font-weight: bold;
    color: $base-color;
    font-size: 0.9em;
    border-radius: 0.3em;

  }

  &__searchResultsContainer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: white;
    transform: translateY(calc(100% + 1em));
    border-radius: 0.3em;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    display:flex;
    z-index: 20;
    flex-direction: column;
  }
  
  &__searchResult{
    font-weight:800;
    color: $base-color;
    padding:0.7em 1em;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    justify-content: space-between;
    cursor: pointer;
  }

  &__clearInput{
    width:1em;  
    height:1em;
    margin:0 1em;
    cursor: pointer;
  }

  &__clearInput:hover{
    filter: invert(80%) sepia(2%) saturate(25%) hue-rotate(26deg) brightness(102%) contrast(85%)

  }

  &__resultIcon{
    height:1.5em;
    width:1.5em;
    margin-right:1em
  }

  &__searchResult:hover{
    background-color: rgb(211, 211, 211);
  }

  &__searchResultDistance{
    font-size: 0.8em;
  }

  &__searchResultName{
    display:inline-flex;
    align-items: center;
  }
}