@import '../../../utils/base.scss';

.searchBar{
  &__container{
    position:absolute;
    font-family: "Gilroy";
    display:flex;
    z-index: 20;
    align-items: center;
    flex-direction: row;
    top:2em;
    left:2em;
  }

  &__menuContainer{
    border-radius: 0.3em;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    background-color: white;
    height:3em;
    width:3em;
    margin-right: 0.5em;
    padding:0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__searchContainer{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    height:3em;
    padding:0 0.5em;
  }

  &__input{
    flex:1;
    border:none;
    display:flex;
    padding:0.1em 0.7em 0 0.7em;
    margin-top: 2px;
    font-weight: 700;
    color: $primary-color;
    font-size: 1.1em;
    font-family: "Gilroy";

  }

  &__input::placeholder{
    color:rgb(174, 174, 174)
  }

  &__searchResultsContainer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: white;
    transform: translateY(calc(100% + 1em));
    border-radius: 0.3em;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    display:flex;
    z-index: 20;
    flex-direction: column;
  }
  
  &__searchResult{
    font-weight:700;
    color: $primary-color;
    padding:0.7em 1em;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    justify-content: space-between;
    cursor: pointer;
  }

  &__clearInput{
    width:1em;  
    height:1em;
    margin:0 0.5em;
    cursor: pointer;
    filter: invert(80%) sepia(2%) saturate(25%) hue-rotate(26deg) brightness(102%) contrast(85%)
  }

  &__clearInput:hover{
    filter: invert(80%) sepia(2%) saturate(25%) hue-rotate(26deg) brightness(102%) contrast(85%)

  }

  &__resultIcon{
    height:1.5em;
    width:1.5em;
    margin-right:1em
  }

  &__searchResult:hover{
    background-color: rgb(211, 211, 211);
  }

  &__searchResultDistance{
    font-size: 0.8em;
  }

  &__searchResultName{
    display:inline-flex;
    align-items: center;
  }
}