@import '../../../utils/base.scss';

.mailconfirm{
    &__successContainer{
        background-color: $green;
        min-height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__successIcon{
        width:3em;
        height:3em;
    }

    &__successText{
        font-weight: 800;
        font-size: 2em;
        color:white;
        padding:1em;
        line-height:1.2em;
        text-align: center;
    }

    &__failureContainer{
        background-color: white;
        min-height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__failureIcon{
        width:3em;
        height:3em;
    }

    &__failureText{
        font-weight: 800;
        font-size: 1.5em;
        color:#FF562C;
        padding:1em;
        text-align: center;
        line-height:1.2em;
        max-width:600px;
    }

    &__buttonSuccess,&__buttonFailure{
        color:white;
        padding:0.5em 1em;
        border-radius: 0.3em;
        font-weight: 700;
        font-size: 1.2em;
    }

    &__buttonSuccess{
        background-color: white;
        color:$green

    }

    &__buttonFailure{
        background-color:#FF562C;
        color:white
    }
}