@import '../../../utils/base.scss';

.spot {
    &__globalContainer {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        justify-content: center;
        padding-top: 7em;
    }


    &__contentContainer {
        max-width: 1200px;
        // border:1px solid red;
        width: 100%;
        padding: 2em;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
    }

    &__leftContainer {
        // border:1px solid blue;  
        flex: 2;
        padding-right: 2em;
    }

    &__subTitle {
        color: $primary-color;
        font-weight: 700;
        font-size: 1.2em;
        padding: 1em 0;
    }

    &__mapContainer {
        // border:1px solid yellow;
        overflow: hidden;
        border-radius: 0.7em;
        position: relative;
        height: 30em;
    }

    &__flexContainer {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        justify-content: space-between;
        align-items: center;
    }

    &__likeButton {
        display: inline-flex;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        align-items: center;
        font-weight: 600;
        font-size: 1.1em;
        color: #000000;
        margin-right: 0.5em;

        &__icon {
            width: 1.5em;
            height: 1.5em;
            margin-right: 1em;
            margin-left: 2em;
        }
    }

    &__spotName {
        font-weight: 800;
        font-size: 2em;
        margin: 1em 0;
    }

    &__descriptionContainer {
        border-top: 1px solid rgb(237, 237, 237);
        margin-top: 2em;
    }

    &__descriptionFlexContainer {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        justify-content: flex-start;
        margin-bottom: 1.5em;
    }

    &__descriptionIcon {
        height: 1.5em;
        width: 1.5em;
        margin-right: 1em;
    }

    &__descriptionText {
        padding-top: 0.1em;
    }

    &__reviewsContainer {
        margin-top: 2em;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: column;
        justify-content: flex-start;
        border-top: 1px solid rgb(234, 234, 234);

    }

    &__reviewAdded,
    &__reviewNotAdded {
        width: 100%;
        border-radius: 0.5em;
        padding: 1em;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2em;
    }

    &__reviewAdded {
        background-color: $green;

        &__button {
            background-color: white;
            color: $green;
            border-radius: 0.5em;
            font-weight: 800;
            font-size: 1.1em;
            padding: 0.5em 1em;
        }
    }

    &__reviewNotAdded {
        background-color: $primary-color;

        &__button {
            background-color: white;
            color: $primary-color;
            border-radius: 0.3em;
            font-weight: 800;
            min-width:9em;
            font-size: 1.1em;
            padding: 0.5em 1em;
        }
    }

    &__reviewCheckIcon {
        width: 3em;
        height: 3em;
    }

    &__reviewCheckText {
        color: white;
        font-weight: 700;
        font-size: 1.1em;
        flex-grow: 1;
        margin: 0 1em;
    }

    &__reviewContainer {
        padding: 1.5em 1.5em 1.5em 2em;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.5em;
        align-items: flex-start;
        box-shadow: 0 10px 40px rgba(113, 113, 113, 0.4);
        margin-bottom: 2em;
        cursor: pointer;
        position: relative;
    }

    &__reviewEmitterAvatar {
        border-radius: 50%;
        width: 3em;
        height: 3em;
        background-size: contain;
        background-position: center;
    }


    &__reviewEmitterContainer {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: row;
        align-items: center;
        margin: 0 0 1.5em 0;
        width: 100%;
    }

    &__reviewEmitterUsername {
        font-weight: 700;
        color: $primary-color;
        font-size: 1.3em;
        margin-left: 1em;
    }

    &__reviewEmitterDate {
        font-weight: 700;
        color: rgb(183, 183, 183);
        font-size: 1.1em;
        flex-grow: 1;
        text-align: right;
    }

    &__reviewContent {
        font-weight: 700;
        font-size: 1.1em;
        margin-top: 0.5em;
    }

    &__rightContainer {
        position: relative;
        flex: 1;
        display: flex;
        background-color: white;
        flex-direction: column;
    }

    &__spotCreatorContainer {
        box-shadow: 0 0 20px rgba(87, 87, 87, 0.3);
        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        height: fit-content;
        padding: 2em;
        border-radius: 0.7em;
        background-color: white;
        width: 100%;
        transition: 0.3s;
        cursor: pointer;
    }

    &__spotCreatorContainer:hover {
        box-shadow: 0 0 40px rgba(60, 60, 60, 0.4);
    }

    &__spotCreatorAvatar {
        border-radius: 50%;
        background-size: contain;
        background-position: center;
        width: 10em;
        height: 10em;

    }

    &__spotCreatorText {
        color: rgb(189, 189, 189);
        font-weight: 700;
        font-size: 1em;
        margin: 1em 0 0.5em 0;

    }

    &__spotCreatorUsername {
        color: $primary-color;
        font-weight: 800;
        font-size: 1.3em;

    }

    &__spotNotFoundContainer {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 7em);
        padding-bottom: 5em;
    }

    &__spotNotFoundImage {
        width: 30em;
    }

    &__spotNotFoundText {
        font-weight: 800;
        color: $primary-color;
        font-size: 1.5em;
        margin-top: 2em;
        padding: 0 2em;
        text-align: center;
    }

}

@media(min-width:650px)and( max-width:800px){
    .spot {
        &__reviewCheckIcon {
            display: none;
        }
    }
}

@media(max-width:650px) {
    .spot {
        &__globalContainer {
            padding-top: 4em
        }

        &__mapContainer {
            height: 20em;
        }

        &__rightContainer {
            display: none;
        }

        &__leftContainer {
            padding-right: 0;
        }

        &__spotName {
            margin: 1em 0 0.5em 0;

        }

        &__likeButton {
            margin-right: 2.5em;
        }

        &__likeButton__icon {
            margin-left: 0;
        }

        &__reviewAdded, &__reviewNotAdded {
            flex-direction: column;
            &__button{
                margin-top: 1em;
            }
        }
        
        &__reviewCheckText{
            text-align: center;
            margin-top: 0.5em;
        }
        
    }

    #informationsContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    #likesButtonContainer {
        margin-top: 2em;
    }
}