@import "../../../utils/base.scss";

.forgotPassword {
    padding-top: 7em;

    &__stepsContainer {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        flex-direction: column;
        align-items: center;
        padding:1em;
    }

    &__stepContainer {
        max-width: 600px;
        width: 100%;
    }

    &__stepTitle {
        font-weight: 800;
        font-size: 1.9em;
        color: $primary-color;
        padding: 2em 0 1em 0;
    }

    &__stepText {
        font-weight: 600;
        font-size: 1.1em;
        color: $primary-color;
    }

    &__buttonsContainer {
        margin-top: 2em
    }

    &__flexContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__updatedSuccessContainer {
        display: flex;
        background-color: $green;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        border-radius: 0.5em;
    }

    &__updatedSuccessIcon {
        width: 2em;
        height: 2em;
    }

    &__updatedSuccessText {
        background-color: $green;
        color: white;
        font-weight: 800;
        border-radius: 0.3em;
        text-align: center;
        font-size: 1.1em;
        margin-left: 1em;
    }

    &__updatedSuccessButton {
        background-color: white;
        padding: 1em 2em;
        color: $green;
        font-weight: 800;
        border-radius: 0.3em;
        text-align: center;
        font-size: 1.1em;
    }
}

@media(max-width:600px){
    .forgotPassword{
        &__updatedSuccessContainer{
            flex-direction: column;
        }

        &__flexContainer{
            flex-direction: column;
        }

        &__updatedSuccessText{
            margin:1em 0;
        }
        &__updatedSuccessIcon {
            width: 3em;
            height: 3em;
        }
    }
}