.thirdStep{
    &__container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__title{
        margin-bottom: 1em;
        font-weight: bold;
    }

    &__answersContainer{
        display:flex;
        flex-direction: row;
        padding-bottom:2em;
        margin-bottom: 2em;
    }

    &__answerCircle{
        border-radius:50%;
        padding:1em;
        height: 5em;
        width:5em;
        margin:0 1em;
        cursor: pointer;
        background-color: #c3def8;
        position: relative;
    }

    &__answerIcon{
        width:100%;
        height:100%;
        filter: invert(10%) sepia(9%) saturate(5052%) hue-rotate(173deg) brightness(92%) contrast(93%);
    }

    &__answerLabel{
        position:absolute;
        bottom:0;
        left:50%;
        transform: translate(-50%,130%);
        font-size: 0.8em;
        font-weight: bold;
        width:100%;
        text-align: center;
        border-radius: 0.3em;
    }
}